
#toggle-carrinho, #finalizar-pedido {
  background-color: #ff0198;
  color: #faf6f6;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#toggle-carrinho:hover, #finalizar-pedido:hover {
  background-color: #00b27a;
  transform: scale(1.05);
}

#toggle-carrinho:active, #finalizar-pedido:active {
  transform: scale(0.95);
}

#finalizar-pedido {
  margin-top: 1rem;
}

.carrinho p{
  margin-top: 2rem;
  font-size: 1.2rem;
}
  
  #carrinho {
    position: absolute;
    top: 80px;
    right: -100rem; /* Escondido fora da tela */
    width: 280px;
    background-color: #fff;
    color: #000;
    font-family: 'Poppins', sans-serif;
    border-left: 2px solid #ccc;
    box-shadow: -2px 0 10px rgba(0,0,0,0.1);
    transition: right 0.3s ease;
    z-index: 1000;
    padding: 2rem;
  }
  
  #carrinho.aberto {
    right: 0; /* Mostra o carrinho */
  }
  
  .adicionar-carrinho {
    background-color: #ff0198;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .adicionar-carrinho:hover {
    background-color: #00b27a;
  } 

  #fechar-carrinho {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    color: #000;
    cursor: pointer;
  }
  

/* Responsivo para celular */
@media (max-width: 600px) {
  #carrinho {
    width: 100%;
  }
  #carrinho.aberto {
    right: 0; /* Mostra o carrinho */
  }
  #toggle-carrinho {
    position: absolute; /* Posiciona o botão de forma absoluta */
    top: 1.5rem; /* Define a distância do topo */
    right: 1rem; /* Define a distância da direita */
    width: 45px;
    height: 45px;
    font-size: 20px;
    background-color: #ff0198;
    color: #faf6f6;
    border-radius: 50%; /* Torna o botão circular */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Garante que o botão fique acima de outros elementos */
  }
}

  
 