.carrossel {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    max-width: 900px;
    margin: auto;
}

.carrossel-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
    gap: 20px;
}

.carrossel-item {
    min-width: 200px;
    text-align: center;
    background-color: white;
    border: 1px solid #e7c3c3;
    border-radius: var(--borda-radius);
    padding: 15px;
}

.carrossel-item img {
    max-width: 100%;
    border-radius: 5px;
}

.carrossel-item p {
    color: var(--cor-principal);
    margin-bottom: 20px;
    font-size: 1rem;
}

.carrossel-item p {
    color: var(--cor-hover);
    margin-bottom: 10px;
    font-size: 1.2rem;
}
.carrossel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1000;
    padding: 10px;
}

.carrossel-btn.prev {
    left: 10px;
}

.carrossel-btn.next {
    right: 10px;
}