.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('imagens/hero.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content h1 {
    font-family: var(--fonte-principal);
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero-content .botao {
    background-color: var(--cor-secundaria);
    color: var(--cor-fundo);
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: var(--borda-radius);
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.hero-content .botao:hover {
    background-color: var(--cor-hover);
}

@media (min-width: 600px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1.2rem;
    }
}

@media (min-width: 1024px) {
    .hero h1 {
        font-size: 3rem;
    }

    .hero p {
        font-size: 1.4rem;
    }

}