:root {
    /* Cores */
    --cor-fundo: #000;      /* Rosa vibrante */
    --cor-principal: #FFFFFF;       /* Preto para o fundo */
    --cor-secundaria: #ff0198; /* Rosa para o texto */
    --cor-destaque: #f06292;     /* Pink para CTA */
    --cor-hover: #00b27a;        /* Verde menta para hover */
    --cor-texto: #FFFFFF;      /*  texto */
    --cor-texto-secundario: #ff0198; /* Para o texto secundário */
    --cor-dourado: #FFD700;      /* Opcional: detalhes finos */
  
    /* Fontes */
    --fonte-principal: 'Playfair Display', serif;
    --fonte-secundaria: 'Poppins', sans-serif;
    --fonte-logo: 'Sacramento', cursive;
  
    /* Estética */
    --borda-radius: 12px;
  }